/* ==========================
   Editor's Pick
========================== */

.featured-title{
    font-size:2rem;
    font-weight:700;
    line-height:1.35;
    color:#111827;
}

.featured-description{
    font-size:1rem;
    line-height:1.9;
    color:#6b7280;
}

/* ==========================
   Carousel
========================== */

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter:invert(1);
}
